<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="/javascripts/lib/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/javascripts/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/underscore.string-prod.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<div class="container-fluid">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Project Euler is a series of challenging mathematical/computer programming problems that will require more than
        just mathematical insights to solve. Although mathematics will help you arrive at elegant and efficient methods,
        the use of a computer and programming skills will be required to solve most problems.</p>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Result</th>
        </tr>
        </thead>
        <tbody>

        <% problems.forEach(function(problem){ %>
        <tr id="<%= problem.id %>">
            <td><%= problem.id %></td>
            <td><h4><%= problem.name %></h4>
                <div class="description"></div>
            </td>
            <td>
                <button class="ansBtn">Run Answer Program</button>
                <br/>
                <textarea readonly="true">Result</textarea>
                <script src="/javascripts/euler/<%= problem.filename %>"></script>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>

</div>
</body>
</html>
